body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body.dark {
  background-color: #2a2d32;
  color: rgba(255, 255, 255, 0.5);
}
.input-field input[type=search]:focus {
	background-color: inherit;
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer .valign-wrapper.center {
	justify-content: center;
}
.App td {
	text-align: center;
}
.App td:first-child {
	text-align: left;
}
.App td:last-child {
	text-align: right;
}
.App .modal {
	z-index: 1003;
	max-height: 75%;
}
.App .modal-overlay {
	z-index: 1002;
	display: block;
	opacity: 0.5;
}
#item-search-result {
	z-index: 999;
}
.card *, .card.small .card-image .card-title, .card .card-content {
	color: #333333;
}
.card.alert {
	position: absolute;
	margin: auto;
	max-width: 320px;
	top: 0;
	right: 0;
	left: 0;
}
form .row {
	margin-bottom: auto;
}
.card.alert .card-content *, .card.alert .card-title, .card.alert .card-action * {
	color: #fff;
}
.App .card.horizontal .card-image {
	width: 100px
}
.App .card.horizontal .card-image img {
    max-height: 100%;
	max-width: 100px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.App .modal {
	display: block;
	top: 0;
}
.App.dark nav {
	background-color: #3e464c;
	color: rgba(255, 255, 255, 0.5);
}
.App.dark nav *, .App.dark nav .brand-logo {
	color: rgba(255, 255, 255, 0.5);
}
.App nav {
	background-color: #f7f7f7;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}
.App nav ul p, .App nav a {
	color: #333333;
}
nav ul p {
	margin: auto;
    font-size: 1rem;
    display: block;
    padding: 0 15px;
}
.App nav .brand-logo {
	padding-left: 15px;
	padding-left: 15px;
}
.collection-item img {
    max-height: 60px;
}
.collection-item p.title {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}
.shopping-list-header button > * {
	display: inline-block;
	font-size: 1.25rem;
	vertical-align: top;
	padding: 0;
	margin: 0;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.item-search .collection.absolute {
    width: 100%;
    top: 54px;
}
.item-image {
	display: inline-flex;
	flex: 1;
	width: 100px;
	justify-content: center;
}
.item-image img {
	max-width: 100px;
}
